.header{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 20px;
    

}

.gmail{
    display: inline-block;
    padding-left: 10px;
    text-decoration:none;
}

.gorseller{
    display: inline-block;
    padding-left: 10px;
    text-decoration:none;
}

.image{
    border-radius: 50%;
    position: relative;
    
}

.google{
display: flex;
flex-direction: column;
align-items: center;
padding: 5%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(184, 184, 184);
    float: left;
    width: 80%;
    background: #f8f7f7;
    margin-left: 70px;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
    
  }

  .buton{
      margin-top: 10px;
      
  }

  #diller{
      text-align: center;
      line-height: 15px;
      padding: 40px 3px;
  }