.card-img-top {
height: 255px;
width: 225px;
margin: auto;
border-radius: 100%;
margin-top: 10px;
}

.p-list{
    margin-left: 2px;
}

.card{
    margin-bottom:50px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 7px;
}
.card-body{
    text-align: center ;
}
